<ion-header>
  <ion-navbar color="primary">
    <ion-toolbar color="primary">
      <p class="yummy-segment-description">
        Look through more Yummy material including video tutorial and guides
      </p>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <div *ngFor="let option of options">
      <ion-item-divider *ngIf="option.type === 'header'" color="light">
        {{option.name | translate}}
      </ion-item-divider>
      <button ion-item *ngIf="option.type === 'item'">
        <ion-icon color="primary" name="{{option.icon}}" item-start></ion-icon>
        {{option.name | translate}}
      </button>
    </div>
  </ion-list>

  <ion-row>
    <ion-col class="centered" col-12>
      <h3>{{ 'CURRENT_VERSION' | translate }} 2.0.0</h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="centered" col-6>
      <button ion-button full color="primary">
        {{ 'LOGOUT' | translate }}
      </button>
    </ion-col>
  </ion-row>

</ion-content>