<div #container *ngIf="storeSlider">
  <h6 class="slider-title">{{storeSlider.title}}</h6>
  <ion-scroll scrollX="true" style="width:100vw; height:320px">
    <ion-row nowrap>
      <ion-col col-10 col-md-5 col-lg-4 col-xl-3 class="merchant-slide">
        <ion-card>
          <div class="textOverIntroImage" style="top: 35%">
            <h1 style="color:#fff; text-align:center">{{storeSlider.title}}</h1>
          </div>
          <div class="textOverIntroImage" style="top: 60%;">
            <h5 style="color:#fff; text-align:center">{{storeSlider.description}}</h5>
          </div>
          <div class="textOverIntroImage" style="top: 85%;">
            <h2 style="color:#fff; text-align:center; font-size: 16px">{{storeSlider.footer}}</h2>
          </div>
          <img [defaultImage]="defaultImage" [lazyLoad]="storeSlider.frontCover" [offset]="offset">
        </ion-card>
      </ion-col>
      <ion-col col-10 col-md-5 col-lg-4 col-xl-3 class="merchant-slide" *ngFor="let store of storeSlider.promotedStores">
        <store-card [store]="store"></store-card>
      </ion-col>
      <ion-col col-11 col-md-5 col-lg-4 col-xl-3 class="merchant-slide">
        <ion-card style="cursor: pointer">
          <img [defaultImage]="defaultImage" [lazyLoad]="storeSlider.backCover" [offset]="offset">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-scroll>
</div>
<hr *ngIf="!isLastItem" style="width: 90%">