.ios, .md {
  store-slider {
    .slider-title {
      font-weight: 600;
      text-align: center;
      margin: 20px 0 -13px;
    }

    .merchant-slide {
      width: 248px;
      height: 246px;
      margin-top: 20px;
    }

    .textOverIntroImage {
      position: absolute; 
      color: #fff; 
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;  
      width:100%
    }

    ion-card {
      background-color: #fff;
      width: 248px;
      height: 246px;
      margin-top: 10px;
      margin: 0;
      position: relative;
      border-radius: 10px;
    }
  }
}
