progress-bar {

  .progress-outer {
    width: 96%;
    padding: 3px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    margin: 10px 2%;
  }

  .progress-inner {
    min-width: 15%;
    height: 1px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: color($colors, carbon);
  }

}
