<ion-header>
  <ion-toolbar color="primary" style="height: 50px" class="centered">
    <p class="yummy-segment-description">
      {{ 'SEGMENT_FOLLOWING' | translate }}
    </p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let store of favouriteStores">
      <ion-avatar item-start>
        <img src="{{store.logo}}">
      </ion-avatar>
      <h2>{{store.name}}</h2>
      <p>Ugh. As if.</p>
    </ion-item>
  </ion-list>
</ion-content>
<div *ngIf="favouriteStores === null" style="vertical-align: middle; display: table-cell; height: 100vh; width: 100vw; background: #f4f4f4">
  <ion-row>
    <ion-col col-7 class="centered">
      <img src="assets/images/no_fav.svg">
    </ion-col>
    <ion-col col-12 class="centered">
      <span style="font-size: 2.6rem;">Ooops!</span>
      <br>
      <span style="font-size: 15px">You are not following any stores yet!
        <br>Take a heart from Chip and give it to a store.</span>
    </ion-col>
  </ion-row>
</div>