<ion-tabs color="light" tabsPlacement="bottom">
  <ion-tab [root]="homeTab" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="searchTab" tabIcon="search"></ion-tab>
  <ion-tab [root]="accountTab" tabIcon="ios-contact-outline" [tabBadge]="numberOfNotifications > 0 ? numberOfNotifications : null" tabBadgeStyle="hot"></ion-tab>  
  <ion-tab [root]="favouriteTab" tabIcon="ios-heart-outline"  [tabBadge]="numberOfFollowingStores > 0 ? numberOfFollowingStores : null" tabBadgeStyle="hot"></ion-tab>
</ion-tabs>