page-splash {

  ion-modal {
    .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .loading-message {
    margin: 0;
    text-align: center;
    font-weight: 600;
  }

  #yummy_logo {
    width: 100%;
    height: 100%;

    #Part_1 {
      animation: 3s 1s linear part_1_animation infinite;
    }

    #Part_2 {
      animation: 3s 2s linear part_2_animation infinite;
    }

    #Part_3 {
      animation: 3s 3s linear part_3_animation infinite;
    }

    #Part_4 {
      opacity: 0;
      animation: 30s 1s linear fadeInLogo;
    }

    #powered_by_nbg {
      opacity: 0;
      animation: 30s 1s linear fadeInLogo;
    }

    #top_merchants {
      opacity: 0;
      animation: 30s 2s linear fadeInLogo;
    }
  }

  @keyframes fadeInLogo {
    0% {opacity: 0;}
    5% {opacity: 0.5;}
    10%,100% {opacity: 1;}
  }

  @keyframes part_1_animation {
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(-20px, 20px);}
    33%,100% {transform: translate(0px, 0px);}
  }

  @keyframes part_2_animation {
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(0px, -20px);}
    33%,100% {transform: translate(0px, 0px);}
  }

  @keyframes part_3_animation {
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(20px, 20px);}
    33%,100% {transform: translate(0px, 0px);}
  }
}
