<ion-header>
  <ion-toolbar color="primary" style="height: 50px" class="centered">
    <p class="yummy-segment-description">
      {{ 'SEGMENT_NEARBY' | translate }}
    </p>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: #f4f4f4;">
  <div>
    <store-slider *ngFor="let slider of storeSliders; let i = index"
    [storeSlider]="slider" [isLastItem]="i === storeSliders.length - 1"></store-slider>
  </div>
</ion-content>