<ion-header>
    <ion-navbar color="primary">
        <ion-toolbar color="primary">
            <p class="yummy-segment-description">
                Change your preferred account settings
            </p>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="language" (ionChange)="changeLanguage($event)">
            <ion-option value="el">Ελληνικά</ion-option>
            <ion-option value="en">English</ion-option>
        </ion-select>
    </ion-item>
</ion-content>