// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2196F3,
  secondary:  #388E3C,
  danger:     #E91E63,
  hot:        #ff0000,
  light:      #f4f4f4,
  clean:      #ffffff,
  dark:       #000,
  carbon:     #515055,
  hospital:   #58A6BD,
  facebook:   #3b5998,
  twitter:    #1dcaff,
  google:     #c71610
);

//$colors: (
//  primary:    #bdc3c7,
//  secondary:  #7f8c8d,
//  danger:     #f53d3d,
//  light:      #fff,
//  dark:       #3c353c
//);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$segment-button-ios-background-color-activated: #000;
$segment-button-ios-text-color-activated: #fff;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$segment-button-md-border-color-activated: #000;
$segment-button-md-text-color-activated: #000;
$segment-button-md-opacity: 0.7;
$searchbar-md-input-placeholder-color: rgba(255, 255, 255, .5);
$searchbar-md-input-background-color: rgba(255, 255, 255, 0.08);
$searchbar-md-input-text-color: #fff;
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-border-radius: 5px;
$searchbar-md-input-height: 34px;
$searchbar-md-input-search-icon-color: rgba(255, 255, 255, .5);
$searchbar-md-input-clear-icon-color: rgba(255, 255, 255, .5);
$text-input-md-highlight-color: color($colors, light);
$text-input-md-input-clear-icon-color: color($colors, light);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

$font-family-md-base: "Open Sans";
$font-family-ios-base: "Open Sans";
$font-family-wp-base: "Open Sans";

