<div (click)="openMerchantPage()" class="opacityContainer">
</div>
<ion-card *ngIf="store">
  <button ion-button [color]="store.isFollowed() ? 'danger' : 'light'" class="add-to-fav-button" (click)="changeFollowingStatus()">
    <ion-icon name="ios-heart"></ion-icon>
  </button>
  <img *ngIf="store.hasIbankPay" src="assets/images/i-bank.png" style="width: 40px; height: 40px; float: left; margin: 0.4rem 0.2rem;"
  />
  <div (click)="openMerchantPage()">
    <div class="merchant-image" [defaultImage]="defaultImage" [lazyLoad]="store.image" [offset]="offset">
      <div class="merchant-image-background"></div>
    </div>
    <ion-row>
      <ion-col class="centered" style="margin-top: -100px;">
        <img-loader class="merchant-logo" fallback="assets/images/placeholder.png" src="{{store.logo}}"></img-loader>
      </ion-col>
    </ion-row>
    <ion-row class="yummy-services-area">
      <ion-col class="centered p0" *ngFor="let service of store.services">
        <yummy-service [service]="service" [colors]="store.colors"></yummy-service>
      </ion-col>
    </ion-row>
  </div>
</ion-card>