.ios, .md {
  store-card {
    .add-to-fav-button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      float: right;
      z-index: 3;
    }

    .merchant-name {
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      font-weight: 600;
    }

    .merchant-image {
      height: 150px;
      line-height: 100px;
      text-align: center;
      background-size: cover;
    }

    .merchant-image-background {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 1) 100%);
      height: 100%;
    }

    .merchant-logo {
      height: 60px !important;
      width: 60px !important;
      border-radius: 50% !important;
      display: inline-block !important;
      position: relative;
      z-index: 3;
    }

    .merchant-description {
      font-size: 0.8em;
    }

    .yummy-service-description {
      padding: 10px;
      .col {
        background-color: #f4f4f4;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);

        i {
          font-size: 20px;
          position: relative;
          top: 15%;
        }
      }
    }

    ion-card {
      cursor: pointer;
      background-color: #fff;
      width: 248px;
      height: 246px;
      margin-top: 10px;
      margin: 0;
      position: relative;
      border-radius: 10px;
    }

    ion-item {
      background-color: #fff;
    }

    .opacityContainer {
      cursor: pointer;
      height: 246px;
      width: 248px;
      position: absolute;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
      transition: background-color 0.5s;
    }

    .opacityContainer:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
