<ion-header>
  <ion-navbar color="primary">
    <ion-toolbar color="primary">
      <p class="yummy-segment-description">
        Manage your cash in any way you like, from transfering to Paypal to paying your friends
      </p>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let action of withdrawMethods">
      <img src="{{action.image}}" style="max-width: 10%;" item-left/>
      <h4 *ngIf="action.name==='Paypal transfer'">{{action.name | translate}}</h4>
      <h4 *ngIf="action.name!=='Paypal transfer'">{{action.name | translate}}</h4>
    </button>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab>
      <h4 class="large-content-text">9</h4>
      <span class="balance-decimals">67</span>
      <h4 class="large-content-text">€</h4>
    </button>
  </ion-fab>
</ion-content>