store-details {
  .go-back-button {
    width: 35px;
    height: 35px;
    float: left;
    margin-bottom: -50px;
    margin-right: 40px;
    border-radius: 50%;
    z-index: 1000;
  }

  .following {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: -50px;
    float: right;
    z-index: 1000;
  }

  .card {
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: none;
  }

  .merchant-page-background {
    background: color($colors, light);
  }

  .merchant-logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: initial;
  }

  .stamp-slides {
    height: 200px;
  }

  .stamp-slide {
    width: 285px;
    height: 200px;
  }

  .stamp {
    border-radius: 10px;
  }

  .stamp-header {
    text-align: center;
    color: #fff;
  }

  .stamp-element {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    margin: 8px;
    padding: 4px 10px;
    font-size: 20px;
  }

  .transaction-row {
    border: solid #d7d7d7;
    border-width: 1px 0 0 0;
  }

  .transaction-date {
    font-size: 13px;
  }

  .transaction-service {
    font-size: 13px;
    color: #5D5E5E;
    margin: 0 5px;
    float: right;
  }

  .transaction-price {
    font-size: 13px;
    float: right;
  }

  .transaction-items {
    color: #5D5E5E;
  }

  .offer-slides {
    height: 250px;
  }

  .offer-slide {
    width: 285px;
    height: 250px;
  }

  .offer {
    border-radius: 4px;
    background: #ffffff;
    height: 200px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .offer-content {
    padding: 0
  }

  .offer-image {
    height: 150px;
  }

  .offer-header {
    font-size: 14px;
    margin-top: 10px;
  }

  .swiper-wrapper {
    height: 100px;
  }

  .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #1E3869;
    opacity: 1;
  }
}
