yummy-service {

  .service-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 3;
  }

  .service-value {
    font-size: 1.9rem;
  }

  .service-name {
    font-size: 1.3rem;
  }
}
