<div *ngIf="service">
  <button ion-button [ngStyle]="colors" class="service-button">
    <span *ngIf="service.type === 1" class="service-value">{{service.content}}</span>
    <span *ngIf="service.type === 2"><i [class]="service.content" style="font-size: 2.5rem;"></i></span>
  </button>
  <h6 class="service-name">{{service.name}}</h6>
</div>
