<ion-header>
  <ion-toolbar color="primary" style="height: 50px">
    <ion-searchbar (ionInput)="searchArray($event)" placeholder="{{ 'SEARCH_APP' | translate }}" autocorrect="off"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <!-- <ion-col col-6 col-md-4 col-lg-3 col-xl-2 *ngFor="let category of categories"> -->
    <ion-col col-6 *ngFor="let category of categories">
      <div class="textOverCategoryImage">
        <h2 class="centered">{{category.title}}</h2>
      </div>
      <img src="assets/images/categories/{{category.logo}}">
    </ion-col>
  </ion-row>
</ion-content>