page-search {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .textOverCategoryImage {
    top: 63%;
    position: absolute; 
    color: #fff;
    padding-right: 10px;  
    width:100%;

    h2 {
      font-size: 1.6em;
    }

    @media only screen and (min-width: 768px) {
      h2 {
        font-size: 2.6em;
      }
    }

    @media only screen and (min-width: 1024px) {
      h2 {
        font-size: 3.6em;
      }
    }
  }

  *[padding] .scroll-content {
    padding: 5px !important;
    padding-top: 10px !important;
  }

  .col {
    margin-top: -4px;
  }
}
