<ion-header *ngIf="sessionMode !== 'Guest'">
  <ion-toolbar color="primary" style="height: 50px;" class="centered">
    <p class="yummy-segment-description">
      Edit your personal information and admire your Yummy statistics
    </p>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="sessionMode !== 'Guest'">
  <flash-card>
    <div class="flash-card-front profileCard">
      <ion-row class="mt-10">
        <ion-col col-12 class="centered">
          <h4>GIANNIS FANIDIS</h4>
        </ion-col>
      </ion-row>
      <ion-row class="mt-10">
        <ion-col col-12 class="centered">
          <img style="border-radius: 50%; max-width:30%" class="image" src="assets/images/me.jpg">
        </ion-col>
      </ion-row>
      <ion-row class="mt10">
        <ion-col col-8>
          <ion-row>
            <ion-col class="cardFrontTextContentStyle1">
              YUMMY ΚΩΔΙΚΟΣ ΚΑΤΟΧΟΥ
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="cardFrontTextContentStyle1">
              627
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-4 style="text-align: right; margin-top: -5px">
          <img class="image" style="border-radius: 10px" src="assets/images/name.png">
        </ion-col>
      </ion-row>
    </div>

    <div class="flash-card-back profileCard">
      <ion-row class="mt-10">
        <ion-col class="centered" col-12>
          <h4>ΣΤΟΙΧΕΙΑ YUMMY ΜΕΛΟΥΣ</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cardFrontTextContentStyle1">
          ΕΧΕΤΕ ΚΕΡΔΙΣΕΙ
        </ion-col>
        <ion-col class="cardFrontTextContentStyle1">
          ΕΧΕΤΕ ΔΙΑΘΕΣΙΜΑ
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cardFrontTextContentStyle3">
          21.41 €
        </ion-col>
        <ion-col class="cardFrontTextContentStyle3">
          9.67 €
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cardFrontTextContentStyle2">
          ΗΜ/ΝΙΑ ΕΓΓΡΑΦΗΣ
        </ion-col>
        <ion-col class="cardFrontTextContentStyle2">
          ΤΕΛΕΥΤΑΙΑ ΣΥΝΑΛΛΑΓΗ
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cardFrontTextContentStyle3">
          26/03/1994
        </ion-col>
        <ion-col class="cardFrontTextContentStyle3">
          11/12/2017
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cardFrontTextContentStyle2">
          ΑΓΑΠ/ΝΗ ΚΑΤΗΓΟΡΙΑ
        </ion-col>
        <ion-col class="cardFrontTextContentStyle2">
          ΑΓΑΠ/ΝO ΚΑΤΑΣΤΗΜΑ
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="cardFrontTextContentStyle1">
          ΦΑΓΗΤΟ
        </ion-col>
        <ion-col class="cardFrontTextContentStyle1">
          PIZZA CLUB
        </ion-col>
      </ion-row>
    </div>
  </flash-card>
  <hr style="height: 10px">
  <ion-list>
    <button ion-item *ngFor="let action of accountActions" (click)="chooseAction(action)">
      <ion-icon color="primary" name="{{action.icon}}" item-start></ion-icon>
      {{action.name | translate}}
    </button>
  </ion-list>
</ion-content>

<div *ngIf="sessionMode === 'Guest'" style="background: #f4f4f4;">
  <ion-row class="upperHalf">
    <ion-col col-12>
      <ion-row>
        <ion-col col-8 class="centered">
          <ion-item style="background: transparent">
            <ion-label color="light" floating>E-mail</ion-label>
            <ion-input type="text" [clearInput] = true style="color: #fff"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8 class="centered">
          <ion-item style="background: transparent">
            <ion-label color="light" floating>Password</ion-label>
            <ion-input type="password" style="color: #fff"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-8 class="centered">
            <button ion-button icon-left block clear color="light">
              Forgot your password?
            </button>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col col-8 class="centered">
          <button ion-button icon-left block outline color="light">
            Login
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="lowerHalf">
    <ion-col col-12>
      <ion-row style="margin-top: 5vh">
        <ion-col col-8 class="centered">
          <button ion-button icon-left block color="facebook" (click)="loginWithFB()">
            <ion-icon color="light" name="logo-facebook" item-start></ion-icon>
            Login with Facebook
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8 class="centered">
          <button ion-button icon-left block color="google" (click)="loginWithGoogle()">
            <ion-icon color="light" name="logo-google" item-start></ion-icon>
            Login with Google
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="centered">
          <button ion-button icon-left clear color="dark">
            Create new account
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="centered">
          <button ion-button icon-left clear color="dark" style="font-size: 1.2rem" (click)="sendSupportEmail()">
            CONTACT
          </button>
          <button ion-button icon-left clear color="dark" style="font-size: 1.2rem">
            ABOUT
          </button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>