page-account {

  .list-md, .list-ios {
    margin: 0;
  }

  .settings-button {
    font-size: 1.6em;
  }

  .profileCard {
    border: 1px solid #515055; width:300px; height: 200px; border-radius: 10px;
     color:#fff; background-color: #515055;
  }

  .mt10{
    margin-top: 10px;
  }

  .mt10v{
    margin-top: 10vh;
  }

  .mt-10{
    margin-top: -10px;
  }

  .cardFrontTextContentStyle1 {
    padding-top: 0; padding-bottom: 0; padding-left: 10px
  }

  .cardFrontTextContentStyle2 {
    padding-bottom: 0; padding-left: 10px
  }

  .cardFrontTextContentStyle3 {
    padding-top: 0; padding-left: 10px
  }

  .button-md {
    font-size: 1.5rem;
  }

  .item-md, .item-ios {
    padding-left: 0;
  }

  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating] {
    color: color($colors, light);
  }

  .upperHalf {
    height: 50vh;
    background-image:url('../assets/images/login_banner.jpg');
    background-size: cover;
    vertical-align: middle;
    width: 100vw;
    display: table-cell;
  }

  .lowerHalf {
    height: 50vh;
  }

  .responsiveMarginTop {
    margin-top: 5vh;
  }

  @media only screen and (min-width: 768px) {
    .responsiveMarginTop {
        margin-top: 15vh;
    }
  }
}
