.ios, .md {
  flash-card {
    /* entire container, keeps perspective */
    .flip-container {
      cursor: pointer;
      perspective: 1000px;
    }

    /* flip the pane when hovered */
    .flip-container.flipped .flipper {
      transform: rotateY(180deg);
    }

    .flip-container, .front, .back {
      width: 90vw;
      height: 180px;
      margin: 20px auto;
    }

    /* flip speed goes here */
    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
      display: flex;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
    }
  }
}
